<dx-popup
  [showTitle]="true"
  title="Information"
  [dragEnabled]="false"
  [hideOnOutsideClick]="true"
  [showCloseButton]="true"
  [(visible)]="showCommentPopup"
  [height]="600"
  [width]="700"
  (onHidden)="popupOnHidden()"
  titleTemplate="title"
>
  <dxo-position at="bottom" my="center" [of]="positionOf"> </dxo-position>
  <!-- <dxo-scrolling mode="virtual"></dxo-scrolling> -->
  <div *dxTemplate="let data of 'title'">
    <h4 style="text-align: center;">Comments</h4>
  </div>
  <div *dxTemplate="let data of 'content'">
    <dx-scroll-view width="100%" height="100%">
    <div *ngFor="let comment of postInfo.comments;">
      <div class="comment-div">
        <p class="comment-p">
          <b class="comment-username">{{
            comment.username
          }} : </b>
          {{ comment.content }}
        </p>
      </div>
    </div>
  </dx-scroll-view>
  </div>
</dx-popup>
