.signup-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  .signup-card {
    position: absolute;
    height: 70% !important;
    width: 30% !important;
    background-color: rgba(0, 0, 0, 0.5) !important;
    .unimeet-logo {
      display: block;
      margin: 0 auto;
      width: 40%;
      margin-top: 2rem;
    }
  }
}
@media screen and (max-width: 600px) {
  .signup-card {
    min-width: 90%;
  }
}
@media screen and (max-width: 900px) {
  .signup-card {
    min-width: 60%;
  }
}
@media screen and (max-width: 1300px) {
  .signup-card {
    min-width: 0%;
  }
}
