.login-page {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
  background-size: cover;
  .login-card{
    margin-left: 20em;
    margin-top: 15em;
    position: absolute;
    height: 35% !important;
    width: 30% !important;
    background-color: rgba(0,0,0,0.5) !important;
  }
}
