<div class="container-fluid"><app-sidebar> </app-sidebar></div>
<div class="container" id="con">
  <div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-6">
      <div class="d-flex justify-content-center">
        <div class="profile-photo-div">
          <img
            class="circle-img"
            src="https://www.w3schools.com/howto/img_avatar.png"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6" style="margin-top: 2rem; margin-bottom: 2rem">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Architecto,
          ut, ipsa, perferendis vel quo nemo in eius aliquam placeat iste
          tempore voluptas? Obcaecati, distinctio! Nemo quos esse veritatis
          vitae ratione.
        </div>

        <div class="col-md-3"></div>
      </div>
      <div>
        <div class="row">
          <div class="col-md-4 card-list-item" *ngFor="let post of posts; index as i" (click)="onClickProfile(post)" >
            <img
              class="card-img-top post-image"
              [src]="post.image"
              alt="Card image cap"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
<app-post-info-popup
  [showPostInfoPopup]="postPopupVisible"
  (popupHidden)="onPopupHidden()"
  [postInfo]="postInfo"
  >

</app-post-info-popup>
